---
---

@import "minima";

/** My Custom CSS **/

.zoom {
  padding: 50px;
  transition: transform .2s; /* Animation */
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.wrapper {
  max-width: -webkit-calc(800px - (30px * 2));
  max-width: calc(800px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 136px;
  padding-left: 30px;
}

.site-title {
  font-family: serif;
  color: saddlebrown !important;
  font-size: 30px;
  font-weight: 300;
  line-height: 54px;
  letter-spacing: -1px;
  margin-bottom: 0;
  margin-right: 50px;
  float: left;
}

.site-header {
  background-color: antiquewhite;
}

.site-nav {
  float: left;
  line-height: 54px;
}
